<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--连接字符串-->
		<add name="MySql" connectionString="Data Source=localhost;Initial Catalog=F2210001;User ID=root;Password=Kstopa123?;Allow User Variables=True;max pool size=512; " />
	</connectionStrings>
	<appSettings>
		<add key="IsSavePlcLog" value="1" />
		<add key="IsFinger" value="1" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

</configuration>